/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* COLOURS */

:root {
  --title-color: #000;
  --font-color: #5a5a5a;
  --main-color: #f0f8ff;
  --button-color: #000;
  --checked: #66bb6a;
  --wb-h: #000;
  --wt-h: #fff;
}

[data-theme="dark"] {
  --title-color: #fff;
  --font-color: #fafafa;
  --main-color: #222222;
  --button-color: #fff;
  --wb-h: #fff;
  --wt-h: #000;
}

/* Default Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.5s;
}

body {
  overflow: overlay;
}

main {
  background-color: var(--main-color);
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(143, 143, 143, 0.8);
  border-radius: 10px;
}

/* NAVBAR CSS */

.theme-switch {
  display: inline-block;
  height: 1.5rem;
  position: relative;
}

.theme-switch input {
  display: none;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 5rem;
}

.logo {
  font-size: 50px;
  height: 5rem;
}

.logo img {
  height: 100%;
}

.ul-nav li {
  display: flex;
  align-items: center;
}

.ul-nav a {
  text-decoration: none;
  color: #fafafa;
  font-weight: 500;
}

.ul-nav a:hover {
  color: #fafafa;
}

.ul-nav a::after {
  display: block;
  content: "";
  border-bottom: solid 2px #fafafa;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.ul-nav a:hover::after {
  transform: scaleX(1);
}

nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  right: 1rem;
  transition: all 0.5s ease;
  padding: 0;
  transform: scale(1);
  margin-top: 5.5rem;
}

nav img {
  height: 4rem;
}

nav.hidden2 {
  opacity: 0;
}

box-icon {
  fill: white;
  transition: all 0.5s;
}
box-icon:hover {
  cursor: pointer;
}

/* HOME CSS */

.banner-container {
  background: url("./assets/img/BannerGPU.png");
  background-size: cover;
  background-position: center;
  height: 42rem;
}

.banner-text-holder {
  width: 30rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.separator {
  width: 80%;
  height: 2px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff00e5, #001aff) 1;
  border-radius: 10px;
}

.product-holder h1 {
  color: var(--title-color);
}

.button {
  padding: .5rem 3rem;
  border: solid 2px var(--button-color);
  text-decoration: none;
  color: var(--button-color);
  transition: all 0.5s;
  position: relative;
  z-index: 1000;
  font-weight: bold;
}

.button:hover {
  text-decoration: none;
  color: var(--wt-h);
  background-color: var(--wb-h);
}

.banner-game {
  background-image: url("./assets/img/BannerGame.jpeg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-game article {
  background-color: rgba(0, 0, 0, 0.8);
}

.news-holder h2 {
  color: var(--title-color);
}
.news-holder p {
  color: var(--font-color);
}

.buttonw {
  padding: 0.5rem 2rem;
  border: solid 1px white;
  text-decoration: none;
  color: white;
}

.buttonw:hover {
  color: white;
  background-color: rgba(143, 143, 143, 0.5);
}

/* FOOTER */

footer {
  background-color: #010101;
  height: 20rem;
  display: flex;
  justify-content: center;
}

.newsletter {
  height: 15rem;
  background-color: #f0f8ff;
  border-radius: 30px;
  margin-top: -5rem;
  -webkit-box-shadow: 0px 0px 50px -18px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 0px 50px -18px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 50px -18px rgba(0, 0, 0, 0.27);
}

.newsletter .button {
  border: 1px solid black;
  background: none;
}
